<% layout("/layouts/boilerplate") %>

<div class="edit-form-container">
  <h2>Edit Listing</h2>

  <form method="POST" action="/listings/<%= listings._id %>?_method=PUT" class="edit-form">

    <label>Title:</label>
    <input type="text" value="<%= listings.title %>" name="listings[title]" required />

    <label>Description:</label>
    <textarea name="listings[description]" rows="4" required><%= listings.description %></textarea>

    <label>Location:</label>
    <input type="text" value="<%= listings.location %>" name="listings[location]" required />

    <label>Image URL:</label>
    <input type="text" value="<%= listings.image %>" name="listings[image]" required />

    <label>Country:</label>
    <input type="text" value="<%= listings.country %>" name="listings[country]" required />

    <label>Price (in ₹):</label>
    <input type="number" value="<%= listings.price %>" name="listings[price]" required />

    <button type="submit">Update Listing</button>
  </form>
</div>
