<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Edit this list</h3>
     <form method="POST" action="/listings/<%=listings._id%>?_method=PUT">
        <input type="text" value="<%=listings.title%>" name="listings[title]">
        <br><br>
        <textarea name="listings[description]"><%=listings.description%></textarea>
        <br><br>
        <input type="text" value="<%=listings.location%>" name="listings[location]">
        <br><br>
        <input type="text" value="<%=listings.image%> "name="listings[image]">
        <br><br>
        <input type="text" value="<%=listings.country%>" name="listings[country]">
        <br><br>
        <input type="number" value="<%=listings.price%>"name="listings[price]">
        <br><br>
        <button>Edit</button>
    </form>
</body>
</html>